#header {
    text-align: center;
    color: crimson;
    font-size: "60px";
}

#upDiv {
    border: 3px outset red;
    background-color: lightblue; 
    text-align: center;
}

#downDiv {
    background-color: lightblue; 
    text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
}
  
.left {
    width: 25%;
    height: 500px;
    overflow-y: scroll;
}
  
.right {
    width: 75%;
    height: 500px;
    overflow-y: scroll;
}